In [1]:
import pandas as pd
import random as rnd 
import mysql.connector
from mysql.connector import Error
import plotly
import json
import csv
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pymysql
import plotly.express as px
import plotly.graph_objects as go
from sqlalchemy import create_engine

## Create database connection

In [33]:
connection = mysql.connector.connect(host='localhost',
                                         database='employment',
                                         user='root',
                                         password='1234')

In [12]:
df = pd.read_sql('''
SELECT title, element_name, scale_name, data_value, n, standard_error, lower_ci_bound, upper_ci_bound, recommend_suppress
FROM employment.skills 
LEFT JOIN employment.occupation_data USING (onetsoc_code)
LEFT JOIN employment.content_model_reference USING (element_id)
LEFT JOIN employment.scales_reference USING (scale_id)
WHERE scale_name LIKE 'importance'
AND element_name LIKE 'Problem Sensitivity'
ORDER BY data_value DESC;''', con = connection)
df

,title,element_name,scale_name,data_value,n,standard_error,lower_ci_bound,upper_ci_bound,recommend_suppress
0,Mathematicians,Mathematics,Importance,5.00,8.0,0.00,5.00,5.0,N
1,Editors,Reading Comprehension,Importance,4.88,8.0,0.13,4.63,5.0,N
2,Technical Writers,Writing,Importance,4.88,8.0,0.13,4.63,5.0,N
3,Neuropsychologists and Clinical Neuropsycholog...,Active Listening,Importance,4.88,8.0,0.13,4.63,5.0,N
4,Mental Health Counselors,Active Listening,Importance,4.88,8.0,0.13,4.63,5.0,N
...,...,...,...,...,...,...,...,...,...
33875,"Meeting, Convention, and Event Planners",Installation,Importance,1.00,8.0,0.00,1.00,1.0,N
33876,Fundraisers,Installation,Importance,1.00,8.0,0.00,1.00,1.0,N
33877,Fundraisers,Equipment Maintenance,Importance,1.00,8.0,0.00,1.00,1.0,N
33878,Fundraisers,Troubleshooting,Importance,1.00,8.0,0.00,1.00,1.0,N
33879,Fundraisers,Repairing,Importance,1.00,8.0,0.00,1.00,1.0,N

# Abilities/Skills/Knowledge for:
## Aerospace Engineers, Agricultural Engineers, and Biomedical Engineers

In [42]:
def get_data(connection, code,t,scale):
    """
    Given a database connection, onetsoc_code, t: (skills/abilities/knowledge),
    scale: level/importance
    return df that contains:
        job title    element_name   scale_name   data_value   
    """
    if scale = 'both':
        df = pd.read_sql('''
        SELECT title, element_name, scale_name, data_value
        FROM employment.''' + t + '''
        LEFT JOIN employment.occupation_data USING (onetsoc_code)
        LEFT JOIN employment.content_model_reference USING (element_id)
        LEFT JOIN employment.scales_reference USING (scale_id)
        WHERE scale_name LIKE \'''' + scale + '''\' 
        ORDER BY data_value DESC;''', con = connection)
    else:
        df = pd.read_sql('''
        SELECT title, element_name, scale_name, data_value
        FROM employment.''' + t + '''
        LEFT JOIN employment.occupation_data USING (onetsoc_code)
        LEFT JOIN employment.content_model_reference USING (element_id)
        LEFT JOIN employment.scales_reference USING (scale_id)
        WHERE scale_name LIKE \'''' + scale + '''\' 
        AND onetsoc_code LIKE \'''' + code + '''\' 
        ORDER BY data_value DESC;''', con = connection)
    return df

### Aerospace engineers

In [43]:
# Aero = 17-2011.00
# Agri = 17-2021.00
# biom = 17-2031.00
df_aero_skills = get_data(connection,'17-2011.00','skills','importance')
df_aero_skills

# df_aero_abilities = pd.read_sql('''
# SELECT title, element_name, scale_name, data_value
# FROM employment.abilities 
# LEFT JOIN employment.occupation_data USING (onetsoc_code)
# LEFT JOIN employment.content_model_reference USING (element_id)
# LEFT JOIN employment.scales_reference USING (scale_id)
# WHERE scale_name LIKE 'importance'
# AND onetsoc_code LIKE '17-2011.00'
# ORDER BY data_value DESC;''', con = connection)

# df_aero_knowledge = pd.read_sql('''
# SELECT title, element_name, scale_name, data_value
# FROM employment.knowledge 
# LEFT JOIN employment.occupation_data USING (onetsoc_code)
# LEFT JOIN employment.content_model_reference USING (element_id)
# LEFT JOIN employment.scales_reference USING (scale_id)
# WHERE scale_name LIKE 'importance'
# AND onetsoc_code LIKE '17-2011.00'
# ORDER BY data_value DESC;''', con = connection)

    SELECT title, element_name, scale_name, data_value
    FROM employment.skills
    LEFT JOIN employment.occupation_data USING (onetsoc_code)
    LEFT JOIN employment.content_model_reference USING (element_id)
    LEFT JOIN employment.scales_reference USING (scale_id)
    WHERE scale_name LIKE 'importance'
    AND onetsoc_code LIKE '17-2011.00'
    ORDER BY data_value DESC;

,title,element_name,scale_name,data_value
0,Aerospace Engineers,Critical Thinking,Importance,4.12
1,Aerospace Engineers,Reading Comprehension,Importance,4.00
2,Aerospace Engineers,Science,Importance,4.00
3,Aerospace Engineers,Active Listening,Importance,3.88
4,Aerospace Engineers,Writing,Importance,3.88
5,Aerospace Engineers,Speaking,Importance,3.88
6,Aerospace Engineers,Mathematics,Importance,3.88
7,Aerospace Engineers,Complex Problem Solving,Importance,3.88
8,Aerospace Engineers,Operations Analysis,Importance,3.88
9,Aerospace Engineers,Monitoring,Importance,3.75
10,Aerospace Engineers,Judgment and Decision Making,Importance,3.75
11,Aerospace Engineers,Active Learning,Importance,3.62
12,Aerospace Engineers,Systems Evaluation,Importance,3.50
13,Aerospace Engineers,Learning Strategies,Importance,3.38
14,Aerospace Engineers,Systems Analysis,Importance,3.38
15,Aerospace Engineers,Coordination,Importance,3.25
16,Aerospace Engineers,Quality Control Analysis,Importance,3.25
17,Aerospace Engineers,Time Management,Importance,3.25
18,Aerospace Engineers,Technology Design,Importance,3.25
19,Aerospace Engineers,Persuasion,Importance,3.12
20,Aerospace Engineers,Social Perceptiveness,Importance,3.00
21,Aerospace Engineers,Negotiation,Importance,3.00
22,Aerospace Engineers,Instructing,Importance,3.00
23,Aerospace Engineers,Service Orientation,Importance,2.88
24,Aerospace Engineers,Operation Monitoring,Importance,2.88
25,Aerospace Engineers,Management of Personnel Resources,Importance,2.75
26,Aerospace Engineers,Programming,Importance,2.12
27,Aerospace Engineers,Troubleshooting,Importance,2.00
28,Aerospace Engineers,Management of Financial Resources,Importance,1.88
29,Aerospace Engineers,Management of Material Resources,Importance,1.75
30,Aerospace Engineers,Equipment Selection,Importance,1.25
31,Aerospace Engineers,Operation and Control,Importance,1.25
32,Aerospace Engineers,Equipment Maintenance,Importance,1.00
33,Aerospace Engineers,Repairing,Importance,1.00
34,Aerospace Engineers,Installation,Importance,1.00

### Agricultural Engineers

In [40]:
# Aero = 17-2011.00
# Agri = 17-2021.00
# biom = 17-2031.00
df_agri_skills = pd.read_sql('''
SELECT title, element_name, scale_name, data_value
FROM employment.skills 
LEFT JOIN employment.occupation_data USING (onetsoc_code)
LEFT JOIN employment.content_model_reference USING (element_id)
LEFT JOIN employment.scales_reference USING (scale_id)
WHERE scale_name LIKE 'importance'
AND onetsoc_code LIKE '17-2011.00'
ORDER BY data_value DESC;''', con = connection)
df_agri_skills

df_agri_abilities = pd.read_sql('''
SELECT title, element_name, scale_name, data_value
FROM employment.abilities 
LEFT JOIN employment.occupation_data USING (onetsoc_code)
LEFT JOIN employment.content_model_reference USING (element_id)
LEFT JOIN employment.scales_reference USING (scale_id)
WHERE scale_name LIKE 'importance'
AND onetsoc_code LIKE '17-2011.00'
ORDER BY data_value DESC;''', con = connection)

df_aero_knowledge = pd.read_sql('''
SELECT title, element_name, scale_name, data_value
FROM employment.knowledge 
LEFT JOIN employment.occupation_data USING (onetsoc_code)
LEFT JOIN employment.content_model_reference USING (element_id)
LEFT JOIN employment.scales_reference USING (scale_id)
WHERE scale_name LIKE 'importance'
AND onetsoc_code LIKE '17-2011.00'
ORDER BY data_value DESC;''', con = connection)